.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
}

.pizza {
  border: 1px solid whitesmoke;
  border-radius: .5em;
  display: inline-block;
  width: 300px;
  height: 250px;
  text-align: center;
  padding: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
  background-color: #222;
  color: black;
  background-image: url('/images/pizza_photo.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.75;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}